<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                                    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http auto-config="true" access-denied-page="/auth/denied.do" access-decision-manager-ref="accessDecisionManager">
        <session-management session-fixation-protection="migrateSession"/>
        <intercept-url pattern="/auth/login.xhtml" access="IS_AUTHENTICATED_ANONYMOUSLY" requires-channel="https"/>
        <intercept-url pattern="/j_spring_security_check" requires-channel="https" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/accueil/admin.do" access="ROLE_ADMIN"/>
        <intercept-url pattern="/accueil/init.do" access="ROLE_USER"/>
        <intercept-url pattern="/user/*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <form-login
                login-page="/auth/login.xhtml" />
        <logout
                invalidate-session="true"
                logout-success-url="/auth/login.xhtml"
                logout-url="/auth/logout.do"/>
        <remember-me key="rememberMeKey" user-service-ref="userDetailsService"/>

    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="daoAuthenticationProvider" />
    </authentication-manager>

</beans:beans>